---
import "../css/style.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
const allProjects: CollectionEntry<"projects">[] =
    await getCollection("projects");

interface Skill {
    name: string;
    icon: string;
}

const skills: Skill[] = [
    { name: "Unity (C#)", icon: "unity.svg" },
    { name: "Unreal (C++)", icon: "unrealengine.svg" },
    { name: "Rust", icon: "rust.svg" },
    { name: "Astro", icon: "astro.svg" },
    { name: "Bun", icon: "bun.svg" },
    { name: "HTML", icon: "html5.svg" },
    { name: "Javascript", icon: "javascript.svg" },
    { name: "Typescript", icon: "typescript.svg" },
    { name: "CSS", icon: "css.svg" },
];
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Jens' Portfolio</title>
        <link rel="icon" href="/logo.svg" />
    </head>

    <body>
        <Navigation />

        <header class="hero">
            <h1>Hey, I'm Jens Monné</h1>
            <p>
                XR/VR developer specializing in Unity development. Also
                passionate about app development and homelabbing.
            </p>
            <div class="cta-group">
                <a href="#projects" class="btn primary">View Projects</a>
                <a href="#contact" class="btn secondary">Get in Touch</a>
            </div>
        </header>

        <section id="projects" class="container">
            <h2>My projects</h2>
            <div class="grid">
                {
                    allProjects.map((project) => (
                        <ProjectCard
                            title={project.data.title}
                            description={project.data.description}
                            tags={project.data.tags}
                            slug={project.slug}
                            image={project.data.image}
                        />
                    ))
                }
            </div>
        </section>

        <section id="skills" class="container">
            <h2>Tech Stack</h2>
            <div class="skills-grid">
                {
                    skills.map((skill) => (
                        <div class="skill-item">
                            <img
                                src={`/icons/${skill.icon}`}
                                alt={`${skill.name} icon`}
                                width="24"
                                height="24"
                            />
                            <span>{skill.name}</span>
                        </div>
                    ))
                }
            </div>
        </section>

        <Footer />
    </body>
</html>
